#rick-and-morty-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: linear-gradient(to bottom, #00ff00, #0051ff);
    height: 100vh; 
    margin: 0;
}
.card {
    border: 3px solid #000;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: left;
}
.card img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.card ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}
.card li {
    margin-top: 0;
    text-align: center;
}